body {
  font-family: sans-serif;
  background: #0f172a;
  color: white;
  padding: 30px;
}

input {
  padding: 6px;
}

button {
  padding: 6px 10px;
  margin-left: 4px;
  cursor: pointer;
}

li {
  margin: 6px 0;
}
